Data/user_history.json
/AudioTools/__pycache__
/Convert/__pycache__
/CutMerge/__pycache__
/Down_Chanel/__pycache__
/Logs
/Recording/__pycache__
/Utils/__pycache__
/VideoTools/__pycache__
*.txt
*.spec
/venv
Recording/test_live.py
/Rec_Output
Utils/config.py
/ffmpeg
/build
/dist
/Data